@use "sass:color";
@import "../def";
@import "./def";

[data-object="button"] {
  @mixin effect($global-color-concept, $factor: 5%) {
    background-color: $global-color-concept;

    &:hover {
      background-color: darken($global-color-concept, $factor);
    }

    &:active {
      background-color: darken($global-color-concept, $factor * 2);
    }
  }

  @include flex(row, center, center, 0.5rem);
  height: $input-height;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0 1rem;
  transition-duration: 175ms;
  transition-property: background-color;

  &:disabled {
    background-color: lighten($global-color-disabled, 70%) !important;
    color: lighten($global-gray-text-color, 80%) !important;
    cursor: default !important;

    > [data-component~="button.icon"] {
      opacity: 50% !important;
    }
  }

  &[data-color="blue"] {
    @include effect($global-color-highlight);
    color: #ffffff;
  }

  &[data-color="concept"] {
    @include effect($global-color-concept);
    color: #ffffff;
  }

  &[data-color="gray"] {
    @include effect(darken($global-background-color, 40%));
    color: #565656;
  }

  &[data-color="red"]{
    @include effect(#fb2c36);
    color: #ffffff;
  }

  > [data-component~="button.icon"] {
    width: 1.125rem;
    height: 1.125rem;
    object-fit: contain;
    object-position: center;
  }

  > [data-component~="button.caption"] {
    top: 0.0625rem;
    position: relative;
  }
}