@use "sass:color";
// 이거 써둬야 darken()사용가능
@import "../def";
@import "./def";

[data-object="label"] {
  $caption-text-color: lighten($global-black-text-color, 40%);
  $gap: 0.25rem;
  @include flex(column, stretch, flex-start, $gap);

  &:hover {
    [data-component~="label.caption"] {
      color: darken($caption-text-color, 5%);
    }

    [data-component~="label.fieldWrapper"] > [data-component~="label.fieldIcon"] {
      opacity: 85% !important;
    }
  }

  &:focus-within {
    [data-component~="label.caption"] {
      color: darken($caption-text-color, 10%);
    }

    [data-component~="label.fieldWrapper"] > [data-component~="label.fieldIcon"] {
      opacity: 100% !important;
    }
  }

  [data-component~="label.caption"] { // ~=이 자식,자손 잡는 방법
    color: $caption-text-color;
    font-size: 0.85rem;
    transition-duration: 175ms;
    transition-property: color;
  }

  [data-component~="label.fieldWrapper"]:has(> [data-component~="label.fieldIcon"]) {
    $icon-size: $input-height * 0.5;
    position: relative;

    > [data-component~="label.fieldIcon"] {
      top: 50%;
      left: $input-padding-horizontal;
      width: $icon-size;
      height: $icon-size;
      object-fit: contain;
      object-position: center;
      opacity: 70%;
      pointer-events: none;
      position: absolute;
      transform: translateY(-50%);
      transition-duration: 175ms;
      transition-property: opacity;
    }

    > [data-component~="label.field"] {
      padding-left: $input-padding-horizontal * 2 + $icon-size - 0.3333rem;
    }
  }

  [data-component~="label.messageWrapper"] {
    @include flex(row, center, flex-start, 0.375rem);
    max-height: 0;
    border-radius: 0.25rem;
    color: #ffffff;
    font-size: 0.75rem;
    margin-top: $gap * -1;
    opacity: 0;
    overflow: hidden;
    padding: 0 0.425rem;
    transition-duration: 250ms;
    transition-property: max-height, margin-top, opacity, padding;

    &[data-visible] {
      max-height: 3rem;
      margin-top: 0;
      opacity: 1;
      padding: 0.375rem 0.625rem;
    }

    &[data-component~="label.hintWrapper"] {
      background-color: darken($global-background-color, 30%);

      > [data-component~="label.messageIcon"] {
        //noinspection CssUnknownTarget
        background-image: url("/assets/images/label.hint.png");
      }
    }

    &[data-component~="label.warningWrapper"] {
      background-color: $global-color-warning;

      > [data-component~="label.messageIcon"] {
        //noinspection CssUnknownTarget
        background-image: url("/assets/images/label.warning.png");
      }
    }

    > [data-component~="label.messageIcon"] {
      width: 1rem;
      height: 1rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    > [data-component~="label.messageCaption"] {
      flex-grow: 1;
      flex-shrink: 1;
      line-height: 1.125;
    }
  }

  [data-component~="label.row"] {
    @include flex(row, stretch, flex-start, 0.5rem);
  }
}