// 1. 메인 배경 색상
$global-background-color: #F0F8F3; // 매안 배경 색상
$global-gray-background-color: #F9F9F9;  // 카드 배경, 배경
$global-green-background-color: #89CC96; // 네비게이션 배경

// 2. 텍스트
$global-black-text-color: #000000; // 메인 텍스트 검정
$global-white-text-color: #FFFFFF; // 검색 텍스트
$global-gray-text-color: #565656; // 섹션 카테고리 기본 텍스트
$global-yellow-text-color: #FEDC98; // 네비게이션 호버 텍스트
$global-green-text-color: #38A34C;

// 3. 버튼
$global-color-concept: #FDD072;
$global-color-follow: #FEDC98; // 팔로우 버튼
$global-color-highlight: #2b7fff;
$global-color-invalid: #ff6467;
$global-color-warning: #ff8904;
$global-color-disabled: #E7E7E7; // 비활성화

// 4. border
$global-border-color: #e7e5e4;
$global-border-green-color: #CAE2CF;

@mixin flex($flex-direction, $align-items, $justify-content, $gap: 0) {
  align-items: $align-items;
  display: flex;
  flex-direction: $flex-direction;
  gap: $gap;
  justify-content: $justify-content;

  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }

  > .-flex-stretch {
    flex-grow: 1;
    flex-shrink: 1;
  }
}