@import "def";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}

body {
  @include flex(column, stretch, flex-start, 1rem);
  min-height: 100%;
  background-color: $global-background-color;
  color: $global-main-text-color;
  cursor: default;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1;
  margin: initial;
  user-select: none;
}

button, input, select, textarea {
  background-color: inherit;
  border: none;
  color: inherit;
  font: inherit;
  margin: initial;
  margin-block: initial;
  margin-inline: initial;
  outline: none;
  padding: initial;
  padding-block: initial;
  padding-inline: initial;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: initial;
  margin-inline: initial;
}

html {
  height: 100%;
}

img {
  -webkit-user-drag: none;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
}

#topNavigator{
  @include flex(row, center, flex-start, 1rem);
  background-color: $global-nav-background-color;
  overflow: hidden;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;

  > .nav-wrapper{
    @include flex(row, center, flex-start, 1rem);
    width: 100%;

    > .logo{
      @include flex(row, center, flex-start, 1rem);
      color: $global-nav-text-color;
      font-size: 1.5rem;
      font-weight: 600;
    }

    > .category{
      @include flex(row, center, flex-start, 1rem);

      > .item{
        font-size: 1.3rem;
        color: $global-nav-text-color;
        font-weight: 600;
        padding: 0.5rem;

        &:hover,
        &:active{
          color: $global-nav-action-color;
          cursor: pointer;
        }
      }
    }

    > .user{
      @include flex(row, center, flex-start, 1rem);
      margin-left: auto;

      > .item{
        font-size: 1.3rem;
        color: $global-nav-text-color;
        font-weight: 600;
        padding: 0.5rem;

        &:hover,
        &:active{
          color: $global-nav-action-color;
          cursor: pointer;
        }

      }
    }
  }
}